{% extends "master.html" %}

{% load static %}

{% block main %}

<pre>
    車やバイクのコーティング専門店　Assist 横浜
～Cool  style Produce Factory~
弊社のHP閲覧に有難うございます。ご質問や困ったことがありましたらお気軽にご連絡ください。

弊社では長年培った技術を生かしボディーに硬化ﾚﾍﾞﾙ9Ｈを塗りこみ
耐久　持続　にすごく強い溶剤を発明致しました。
ぜひ、弊社のカーコーティングをお楽しみください。

現在コロナショックでも営業中！


お客様各位

コロナウイルスの影響で弊社では、車両預かりの際、簡易的に無料で車両内装を除菌させてもらいます。

お客様の為でもあり、弊社スタッフも為でもあります。ご理解ご協力をお願い申します。

自分でやる

セルフコーティング　サポート付き
道具コンパウンド貸し出し
1回　33000円　ご希望の方はこちら
080-5421-9016 石井
 

こんな方々に弊社はオススメ！！

車のイベントで移動や車磨き　車販売業者様　納車前のカーコーティング
 
工事中隣の駐車場の車を汚してしまった。
 
車を綺麗にしたいけど予算的に合わない
 
車屋さんが自社でコーティングをしますが費用対効果に合わない
 
車磨きが初めてで注文したいがどこがいんだろう？？
 
洗車をしたいが来てもらったほうが得？それともガソリンスタンドで500円で洗
 
車機いれようかな？どうしようかな？
 
みなとみらいで遊びたいが駐車場高いしこの金払うならこの間に洗車してもらったほうが得？
 
キャンピングカー　トラックの洗車！格安公開！
車のボディーを綺麗にしたいならボディー下地からのやり直しを推進します。下地処理とは？
ボディー研磨　磨き　コーティング作業工程で完璧に下地の汚れ　くすみ　を除去！！




新車の輝きに蘇る！出張洗車サービス~磨き屋アシスト~
Assist　Yokohama 　
☆―ポリマーガラスコーティング専門店―☆

無駄に洗車代を使っていませんか？

ハッキリ！！申し上げます。


汚れやすい車と汚れにくい車には

はっきりとした違いがあります！


まず、買った状態のままのお車のボディは、保管しているだけでも
ホコリや汚れが付着しやすく、ボディに傷や日焼けがついたりします。

そのたびに洗車をしたり、目立つ傷が付いてしまったときには板金屋へ、など、手入れが大変なのが現状です。


一方


もともと汚れにくいお車とは

初めから汚れや水垢、傷や日焼けが付きにくいように、
ボディをコーティングしているお車のことです。


大切なお車のボディをはじめからコーティングして守ることで
キズ汚れ水垢や日焼けからボディ自体を保護することができると同時に
お車そのものの輝きの美しさが,数段アップします！

普段から汚れにくく洗いやすいお車は、こうしてコーティングされたお車たちなのです。


そんなコーティングですが

一台一台のお車の特徴をよく把握し、そのお車に合った外装の下地作りを丁寧に準備してからコーティングをかけるなどする必要があります。

下処理の不手際やコーティングの雑な塗り方ですと
かえって車のボディの劣化のもとになってしまったりもするのです。

通常コーティング専門店に依頼するとなると、数日かかったり、車を持っていく手間がかかったり
流れ作業の中で本当に自分の車に合った満足のいく結果が得られないなどがあります。


そこで

Assist　Yokohama　では
一台一台のお車の日ごろの駐車状況によるお車への影響も考慮し、
お車の劣化の原因を考えるためにも、お車の普段の駐車場所へ伺ったうえで
一台一台のお車の生きた環境を知り、その個性のある状況の中で、マニュアルではなく一台一台に合った施行をその場で行います。

このようにお車の状況をよく把握し、
丁寧にコーティング作業をさせていただいております！

最高級のコーティングを即日行います！


美しさはショーカー仕上げです！


一度コーティングをいたしますと
雨水をはじき水垢予防になり、油汚れ等も付着しにくくなり
さらに小さなキズがボディにつくのも防ぎます。

保管場所によっては家の垣根や近隣の木などが車のそばにある場合がありますが、
その場合も木の樹液や花粉が
知らず知らずのうちにお車のしつこい汚れとなってしまう場合があります。

このような状況でも、コーティングによりお車のボディを守ることができます。

美しい輝きを放つお車で

より楽しいカーライフをお送りください☆


お問い合わせ・ご質問等はどうぞ担当者までお気軽に！！
直通℡：080-5421-9016（石井）
（受付時間　９：００～１９：００　年末年始お休み）


☆梅雨の季節のサービス☆
６月～７月期間限定！

期間中にコーティングをご施行のお車すべてに
無料でガラス全面！極撥水コートをやらせて頂きます!!
（※クーポンをご利用の際は対象外となります。）
梅雨でも安全運転できるよう、そして楽しいカーライフを応援します☆


さらに
☆ー特典情報ー☆

弊社でポリマー及びガラスコーティングを施工されたお客様には
次回
手洗い洗車を１回￥2500-でご自宅まで出張施行いたします！
（コーティング後のお車の現状確認を同時に点検させていただきます。）

＜手洗い洗車　サービス内容＞

外装洗車（コーティングのメンテナンス）＋内装掃除機＋アルミ磨き


ご注意
※　￥2500-のチケットは４枚１組となっております。
※　こちらのチケットは弊社でコーティングをされたお客様へのみ販売させていただいております。第三者への譲渡、又はコーティング施工車以外の車体でのご利用はできません。
※　給水システム及び電気（コンセント）を使用させていただきます。
※　チケットの有効期限は発行より１年になります。




代表　石井　080-5421-9016
Gaultier1019@gmail.com
同業者　車屋　の方はこちらまで
080-5421-9016
</pre>


{% endblock %}