{% extends "master.html" %}

{% load static %}

{% block main %}

<p>
愛車のバイクをプロがピカピカに磨き上げてコーティングを施します。
プロのコーティング屋さんが隅々まで磨きとコーティングをさせてもらいます。
</p>

<p>
大切な愛車のボディをコーティングして守ることでキズ・汚れ・水垢や日焼けから保護することができるのと同時に、愛車本来の輝きを維持できるので美しさが数段アップします。
ガラスコーティングのサービスを施すサービスを開始しました。
一度コーティングをすると雨水をはじき水垢予防になり、油汚れ等も付着しにくくなり、さらに小さなキズがボディにつくのも防ぎます。
また家の垣根や近隣の木などが近くにある場合、木の樹液や花粉が知らず知らずのうちにしつこい汚れとなってしまう場合があります。
このような状況でも、コーティングにより愛車のボディを守ることができます。
チューニングで生まれ変わる愛車。ぜひコーティングを施し、「身も心も」生まれ変わった愛車でより楽しいハーレーライフをお送りください。
</p>

<p>
service
【磨き】
車両をピカピカにするために欠かせないのが”プロの磨き”。
バイクは車に比べてパーツが細かく様々な材質・塗装・メッキが使われています。
車両の状態を見極め、使用する洗浄剤や機材などを選定。
先ずは車両をキレイに洗い、細かい汚れを落とします。
足回りなど汚れが酷い箇所があれば高圧洗浄も行います。
ボディが塗れている状態で鉄粉を除去、そして松ヤニやその他の不純物を徹底的に除去します。
この時点でボディはツルツルになりますので薄く研磨をかけます。
その後4工程に分けて徹底的に磨きあげピカピカに仕上げます。
この仕上げが輝き具合を左右します。プロに任せるワケがココにあります。
</p>

<p>
【コーティング】
ご用意した2種類のコーティングにはそれぞれ特徴があります。
</p>

<p>
■ガラスコーティング
ガラスコーティングは高純度ガラスで保護膜を生成しピカピカに磨いたボディをしっかりと保護します。
ガラス被膜は表面が硬く傷がつきにくく、輝きを長期間持続するのが特徴。
弊社のガラスコーティングは撥水コーティングではなく水同士がくっつきあって流れ落ちる親水性のコーティングを施します。
コレにより水玉が引き起こすレンズ現象での焼けやコーティングの劣化を防ぎます。
またメンテナンスも簡単で汚れたら水拭きをする程度でOK！コレだけで1年～2年ほど親水性・輝きを維持します。
</p>

<p>
■ポリマーコーティング
ポリマーコーティングはシリコンやフッ素などを含んだポリマー（高分子重合体）で保護膜を生成しピカピカに磨いたボディを艶やかにします。
テカテカ・ツヤツヤになるのがポリマーコーティングの特徴。
親水性の高いコーティングで雨やヨゴレからボディを守ります。
月に1度洗車を行いメンテナンスをする事で、半年～1年ほどは撥水性・艶を維持します。
</p>

<p>
【オプション】
バイクの磨き＆コーティングは手や機材の届かない細部はどうしても施工できないもの。
通常のコーティング業者さんはバイク屋さんではないので部品をバラして徹底的に磨き＆コーティングすることはできません
</p>

<p>
シート・サドルバッグはもちろんの事、タンク・フェンダー等も車両から取り外し致します。
取り外してしまえば目には見えない裏側や手の届かない細部までキッチリと磨き＆コーティングを施す事ができます。

価格表

ボディーガラスコーティング　２輪
￥105.000ー

ボディーポリマーコーティング　２輪
￥80.000－

各種３輪は＋￥5.000追加になります。
</p>

{% endblock %}
