{% extends "master.html" %}

{% load static %}

{% block main %}
<article class="article">
    <h1 class="article__heading article__heading--1">スクール生大募集</h1>
    <p class="article__paragraph article__paragraph--large">
        弊社では、車の磨きやコーティングを覚えたいという方、独立開業をしたい方、大募集しております。<br>
        こんなプログラムを用意。
    </p>
    <h2 class="article__heading article__heading--2">1. セルフコーティング &yen;33,000 -</h2>
    <p class="article__paragraph">
        これは、自分で施工するコースになります。<br>
        弊社が施工に必要な道具をすべてレンタルします。<br>
        施工する車に対してのやり方を教えますので自分ひとりでも安心！！一人でもやれるプランです。
    </p>
    <h2 class="article__heading article__heading--2">2. 独立開業コース &yen;220,000</h2>
    <p class="article__paragraph">
        このプランは、2日間かけてすべてのやり方を伝授します。<br>
        1日目は車を前に下地処理を学びます。<br>
        2日目は実際にコーティングを塗ってみよう。<br>
        色々なコーティングをご紹介。ポリマ ～ ガラス - セラミックのやり方を紹介。
    </p>
    <p class="article__paragraph">
        * 下地処理 : コーティング・ハームクリーニング・ホイルコーティング
    </p>
    <h2 class="article__heading article__heading--2">+ マスタープログラムコース &yen;440,000</h2>
    <p class="article__paragraph">
        実際に経営してみて1年間サポート付き + 作業・道具込み + 営業サポート付き
    </p>
</article>
{% endblock %}