{% extends "master.html" %}

{% load static %}

{% block main %}

<p>お客様からのお声やご感想を纏めました。</p>

<pre>
お客様からのお声やご感想を纏めました。

質問　コロナウイルスでもコーティングや室内の除菌等もやってもらえるのですか？
回答　弊社で磨き等を御注文のお客様には、無料にて除菌無料施工を開催しております。

質問　御社では車検にいくらかかりますか？また東京三鷹まで引き上げに来てほしい。
回答　代行手数料は￥5000－です。また引き上げ納車の手数料が現在は￥3000－かかります。車検には法定費用の他＋手数料です。（三鷹市下連雀にお住まいの方　アコードワゴン所有の方からのご質問でした）

感想　　こないだコーティングしたとき　運転席のドアを開けたところを細かく掃除してくれました。とても綺麗になり嬉しかった。細かいところまで目がいくスタッフさんでした。　（横浜市鶴見区獅子ヶ谷にお住まいの方　トヨタブレード）

感想　　福岡に出張行く前に車を綺麗にしていただき有難うございます。
　　　　（町田市薬師台お住まいの　プリウスアルファー）

感想　　江東区までわざわざ引き上げ助かりました。うちはマンションなんで洗車スペースがありませんでした。（江東区古石場お住まいの方　ボルボＶ70）

感想　　来年もまたＭＬお願いします。格安で　（世田谷にお住まいの方　ベンツＭＬ）

感想　　仕上がりにやや不満！施工前に説明は聞きましたが　やはりこの水垢はとれないのですか？
　　　　（東京都北区にお住まいの方　ワゴンＲ）

店側　　すいません、水垢ではなくて塗装が割れていました。塗装の直しをオススメします。ご納得がいかない場合はお客様がご納得いくまでお付き合いさせていただきます。お申し付けください。

感想　　あんな狭いスペースでもできるんですね。びっくりです。スタッフさんが持ってるあの脚立どこで売ってるんですか？（横浜市栄区お住まいの方　クラウンＢＡＮ　ＯＬＤＣＡＲ）

店側　　あの脚立はコーティング屋が使用するオーダーメイドです。高い天井までも使用できるように作っています。

感想　　３０後期　を丁寧に仕上げて頂き有難うございます。フェイスブックにアップします。見といて下さい。　《多摩市唐木台お住まいの方　セルシオ）
　
店側　　アシスト出張洗車で友達検索してみて下さい。　

感想　　有難うございます。またバーベキュー行きましょうね　（練馬区南大泉お住まいの方　スズキ　パレット）

店側　　今回は呑みすぎなんで次はひかえめ行きましょう。

感想　　ベンツ綺麗になりましたけど家の前の畑の誇りは大丈夫なんですか？？
　　　　（能見台にお住まいの方　ベンツ）

店側　　あそこはガレージがあるので大丈夫です。

感想　　プジョーが見違えるようでした。私の妻のＢＭＷもお願いしたいです。同じ金額でできますか？
　　　　都築区お住まいの方　プジョー　

店側　　あのＢＭＷは大丈夫ですよ。ちなみにいつですか？電話で話しましょう。

感想　　私のアルチャン綺麗になりました。板金から保険の段取りまで有難うございます。ちなみにうちの社長のハリヤーも見積もりください。　（世田谷区お住まいの方　アルテッザー）

店側　　了解しました。

質問　　施工最中出かけてても大丈夫ですか？

店側　　大丈夫です。

感想　　有難うございます　またご縁がありましたら宜しくお願いします。（中原区のお住まいの方　30プリウス）

感想　　有難うございます。わざわざ横須賀まで来ていただき作業してもらって感謝します。あの白い容器に入ってた液体は何ですか？メンテナンス剤ですか？　（横須賀にお住まいの方　スバルプレス）

店側　　施工証明書と一緒に説明書がはいってます。宜しくお願いします。

感想　　エンジンルームまでやってくれたんですね！びっくりですよーさすが職人さんの腕です。
めっちゃ綺麗になりました。またお願いしますね。あと12月車検なんでその時はまた連絡します。　　　　（神奈川県足柄下郡箱根町にお住まいの方　プリウスアルファー）

感想　　コーティングもそうですが　ドアもついでに作業していただき有難うございます。
（葛飾区新宿にお住まいの方　アコード）

感想　　ポリマコーティング有難うございます。うちの車もまだまだ綺麗になるんですね。新車になったと思ったよ。スタッフさんこの炎天下でよく施工しましたね。今度また千葉に来ることがあったら連絡ください。車の話でもしましょう。（千葉県市川市本行徳にお住まいの方　エスティマ）

感想　　正直予想した時間より時間がかかりすぎてませんか？　車は綺麗だけど予定がつぶれました。

店側　　施工前にも、お伝えしましたが理由はどうあれ申し訳ありませんでした。

感想　　  施工して1年保証が付くと言われましたが保証書とかないんですか？　（横浜市栄区お住まいの方　８９年ＧＭＣアストロ）

店側　　　お客様よりメールアドレスにＰＤＦで５枚送信しております。記載事項欄をご確認ください。ご確認できない場合はご連絡ください。

感想　　　クロームメッキに塗っていた溶剤は通販購入希望です。可能ですか？また代引き希望です。

店側　　　弊社では代引きは行っておりません。振込もしくわクレジット清算になります。
</pre>

{% endblock %}
