{% extends "master.html" %}

{% load static %}

{% block main %}

<p>
    毎度、弊社アシストをご利用いただき誠に有難うございます。<br>
    弊社の出張洗車にあたり特約がございます。ご了承の上ご利用ください。<br>
    （インターネット見て注文を頂いた場合はすべてインターネット契約となります。必ず特約事項はお読みください）
</p>

<ol>
    <li>弊社をご利用いただく際、一戸建てのお住まいやマンションの場合は給水場所の確保と電気代（コンセント）はお客様負担になります。水道水の使う量はお風呂場の浴槽１杯くらいです　電気代は１０～３０円くらいの金額になります。</li>
    <li>
        出張費が発生する地域がございます。(片道料金)
        <ul>
            <li>横浜市　川崎市　無料</li>
            <li>東京23区￥3.000</li>
            <li>東京23区以外￥3.500</li>
            <li>引き取り納車　￥10.000</li>
            <li>持込み　　　　￥3.000</li>
        </ul>
    </li>
    <li>
        車のタイプに対して別途ご請求になります。
        <ul>
            <li>軽自動車　セダン　ステーションワゴン　無料</li>
            <li>オデッセイ　ハリヤー　等￥5.000</li>
            <li>特別車両（油圧キッド）（キャンピングカー）（車椅子使用可能車）　アメ車　ワンボックス ￥10.000</li>
            <li>高級車（ＢＭＷ　ベンツ　アルファロメオ　等　外車全般）￥15,000</li>
            <p>
                税別で発生いたします。
                <p>※　キャンピングカーのボディーは素材が違うため落とせる汚れと落とせない汚れがありますのでご注意ください。尚キャンピングカーの補修のためにパテをご利用されている方がいますが、パテ埋め（補修）がされている場所は、作業不可能になります。ご了承の上ご利用ください。</p>
            </p>
        </ul>
    </li>
    <li>施工場所に給水システムが無い場所や電気がない場所での作業の場合は施工車両を預かる場合がございます。ご了承の上ご利用ください。</li>
    <li>
        補償内容
    　　ポリマーコーティングの補償期間は施工終了後より９ヶ月が補償期間になります。
        ガラスコーティングの場合は通常は９か月間の保証になりますがお客様との取り決めで伸ばす場合もありますが、その場合は書面での契約書を交わすものとする。施工日時より１か月間の間に連絡がない場合は施工証明の発行をいたしかねます。
    　　下地保証は施工日時より１か月間とする。
    </li>
    <li>貴重品を車内におかないようにしてください。車内の物がなくなった場合一切の責任を負いかねます</li>
    <li>車をお預かり（引き取り）の場合は出張費が2倍かかります＋￥3000【水道　電気　場所使用料金】お預かり洗車の場合はかかりません</li>
    <li>
        キャンセルについて
        <p>
        　前日　当日のお客様都合のキャンセル　日付変更はいかなる場合でもキャンセル料が全額発生致します。キャンセル料において不服やご納得いかない場合は第3機関でのご対応になります。ご了承ください。
        （キャンセル料がかかる理由　お客様が設定した日付に合わせてスタッフを配置しております。その際の損害料になります。）
        </p>
    </li>
</ol>

<p>施工中の注意事項</p>
<ul>
    <li>施工前施工後はお客様と作業員での傷チェックを行います。しかし傷チェックや施工完了表の未記入や傷チェックを行わない場合は傷チェック完了とみなします。施工完了後の受け渡し後のクレームは受け付けておりません。</li>
    <li>外装が塗装焼けや古いお車で研磨最中下地が出る場合がございます。その際はノンクレーンでお願いします。</li>
    <li>施工終了後お客様と現車確認をして施工日より１か月間のみ下地保証させていただきますがそれ以降は致しかねます。</li>
</ul>
{% endblock %}
