<nav class="navigator">
    <a class="navigator__link" href="{% url 'content:fee' %}">料金</a>
    <a class="navigator__link" href="{% url 'content:recruit_students' %}">スクール生</a>
    <a class="navigator__link" href="{% url 'ec:index' %}">販売</a>
    <a class="navigator__link" href="{% url 'content:special_provision' %}">特約事項</a>
    <a class="navigator__link" href="{% url 'content:about' %}">出張洗車コーティングについて</a>
    <a class="navigator__link" href="{% url 'content:review' %}">レビュー口コミ</a>
    <a class="navigator__link" href="{% url 'mailMagazine:index' %}">メルマガ</a>
    <a class="navigator__link" href="{% url 'contact:index' %}">問い合わせ</a>
</nav>